<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
    <style>
        h1 {
            text-align: center;
        }
        button {
            padding-top: 20px;
            padding-bottom: 50px;
        }
        .myDiv {
            border: 5px outset red;    
            text-align: center;
          }
    </style>
</head>
<body>


    <div class="jumbotron jumbotron-fluid">
        <div class="container p-3 my-3 border">
            <h1>UPDATE </h1>
        </div>
        <div class="container p-3 my-3 border">

            {% for data in datas %}
            <table class="table container">
                {% csrf_token %}
                <tr>
                    <th>Employee ID :</th>
                    <th>{{data.employee_id}}</th>
                </tr>
                <tr>
                    <th>Employee Name :</th>
                    <th>{{data.employee_name}}</th>
                    <th>
                    </th>
                </tr>
                <tr>
                    <th>Address :</th>
                    <th>{{data.address}}</th>
                    <th>
                        <form action="changeAddress">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Date of Birth :</th>
                    <th>{{data.dobDay}}th {{data.dobMon}}, {{data.dobYear}}</th>
                    <th>
                        <form action="changeDob">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Mobile No. :</th>
                    <th>{{data.mobile_no}}</th>
                    <th>
                        <form action="changeMob">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            {% endfor %}

        </div>
        <form action="gohome">
            <div class="container p-3 my-3 border myDiv">
                <button type="submit" class="btn btn-primary btn-lg">HOME</button>
            </div>
        </form>

    </div>

    
</body>
</html>